
table td{
	width: 200px;
	text-align: center;
	padding-bottom: 30px;
}

table img{
	width: 100px;
	height: 100px;
	cursor: pointer;
}

table img:hover{
	width: 150px;
	height: 150px;
	cursor: pointer;
}

table span{
	display: block;
}

#logoutdiv{
	position: absolute;
	top: 15px;
	right: 50px;
}