

html, body {
	height: 100%;
	margin: 0;
} /* Para usar procentajes */ 


/* HEADER */

#header{
	width: 100%;
	height: 12%;
	display: block;
}

.header_fixed{
	width: 100%;
	height: 10%; /*para completar la altura del header*/
	position: fixed;
	background: white;
	padding-top: 2%;
	border-bottom: 1px solid green;
}

.header_menu_left{
	/*border: 1px solid green;*/
	width: 15%; 
	height: 100%;
	float: left;
	text-align: center;
}

.header_menu_right{
	/*border: 1px solid green;*/
	width: 15%; 
	height: 100%; 
	float: right;
	text-align: center;
}

.header_menu_left img, .header_menu_right img{
	width: 80%; 
	height: 80%;
	cursor: pointer;
	margin-top: 5%;
}

.header_menu_left .menu_rounded{
	border-radius: 50%;
}


.rotated {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

