

#img_header {
    background-image: linear-gradient(0deg, white, #E9B73E);
}

#img_header img {
    height: 100%;
}

/* CONTENT */

#content{
	/*background: green;
	width: 100%; */
	height: 88%; /*el header mide 12%, y no hay footer*/
	display: block;
	padding: 3%;
}

.content {
    font-size: 15pt;
    font-family: cursive;
    /*width: 100%;
	height: 65%; */
	text-align: center;
}



.content input[type="text"], .content input[type="password"], .content select{
	font-family: cursive;
	text-align: center;
	outline: none;
	background-color: #FFEAC1;
	border-radius: 5px;
	border: 1px solid #FFFFFE;
	margin: 1%;
}

.content input[type="button"] {
	color: white;
	border-radius: 111px 113px 106px 109px;
	border-radius: 111px 113px 106px 109px;
	border-radius: 111px 113px 106px 109px;
	border: 0px hidden #000000;
	background-color:#E9B73E;
	font-size: 40;
}


.content #link {
    font-size: 8pt;
    font-family: cursive;
	text-align: center; 
}



.content_title{
   
	display: block; 
	background: white;
	text-align: center;
 
}




#usuarios_list{
	display: block; 
	/*background: gray;*/
	height: 95%;
}

.usuario_item{
	display: block; 
	border-bottom: 3px solid green;
	height: 98%;
	cursor: pointer;
}

.usuario_item .usuario_item_half{
	display: block; 
	background: white;
	height: 48%;
	border-bottom: 1px solid gray;
}

.usuario_item .usuario_item_preview{
	text-align: center;
}

.usuario_item img{
	width: 80%;
	height: 100%;
}

.usuario_item h1, h2, h3, h4, h5, p{
	margin:0;
    /*background-color: lime;*/
}

.usuario_item_author_date{
	height: auto;
}

.usuario_item .usuario_item_author{
	width: 60%;
	display: inline-block;
	/*float: left;*/
}

.usuario_item .usuario_item_date{
	width: 28%;
	display: inline-block;
	/*float: right;*/
}

.usuario_item .usuario_item_description{
	height: 50%;
	overflow: hidden;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
}

/*.usuario_item_word_break {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}*/



.usuario_detail{
	display: block; 
	/*background: gray;*/
	height: 100%;
}

.usuario_detail #usuario_detail_media{
	display: block; 
	background: white;
	border-bottom: 3px solid green;
	text-align: center;
	height: 50%;
}

.usuario_detail #usuario_detail_media img{
	width: 80%;
	height: 100%;
}

.usuario_autor_thumbnail{
	display: inline-block;
    /*vertical-align:top;*/
	width: 50px;
	height: 50px;
	text-align: center; 
}

.usuario_autor_thumbnail img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}


.usuario_detail h1, h2, h3, h4, h5, p{
	margin:0;
}

.usuario_detail .inline{
	display: inline-block;
}

.usuario_detail #usuario_detail_description{
	display: block;
	overflow-wrap: break-word;
}


#usuario_comments{
	margin-bottom: 20%;
	width: 100%;
}

#usuario_comments .usuario_comment_thumbnail{
	display: inline-block;
    vertical-align:top;
	width: 40px;
	height: 40px;
	text-align: center; 
}

#usuario_comments .usuario_comment_thumbnail img { 
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#usuario_comments .usuario_comment_text{
	display: inline-block; 
    vertical-align:top;
	width: 80%;
}

/*#usuario_comments .usuario_comment_text input[type="text"]{
	width: 90%;
}*/

#usuario_comments #usuario_comment_edittext{
	width: 97%;
	min-height: 20px;
	background: white;
	border-bottom: 1px solid gray;
	overflow-wrap: break-word;
}

#usuario_comments .usuario_comment_buttons{
	width: 88%;
	text-align: right;
}

/*#usuario_comments .usuario_comment_buttons div{
	padding-left: 1%;
	padding-right: 1%;
}*/

#usuario_comments .send_comment{
	padding: 3%;
	margin-left: 40px;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 25px;
    border: 2px solid #0016b0;
	display: inline-block;
	cursor: pointer;
}


#usuario_comments .usuario_comment_onlytext{
	width: 90%;
	min-height: 20px;
	background: white;
	border-bottom: 1px solid gray;
	overflow-wrap: break-word;
}




#usuario_crud{
	display: block; 
	background: gray;
	height: 100%;
}

#usuario_crud #usuario_crud_media{
	display: block; 
	background: white;
	border-bottom: 3px solid red;
	text-align: center;
	height: 50%;
}

#usuario_crud #usuario_crud_media img{
	width: 80%;
	height: 90%;
}

#usuario_crud #usuario_crud_media .usuario_crud_browse{
	text-align: right;
}

#usuario_crud h1, h2, h3, h4, h5, p{
	margin:0;
}

#usuario_crud .inline{
	display: inline-block;
}

#usuario_crud #usuario_crud_title{
	width: 100%;
}

#usuario_crud #usuario_crud_title input[type="text"]{
	display: inline-block;
	width: 80%;
}

#usuario_crud #usuario_crud_description{
	width: 100%;
	min-height: 20px;
	background: white;
	border-bottom: 1px solid gray;
	overflow-wrap: break-word;
}

#usuario_crud .usuario_crud_buttons{
	width: 88%;
	text-align: right;
	margin-bottom: 25%;
}

#usuario_crud .usuario_crud_buttons div{
	padding-left: 1%;
	padding-right: 1%;
}





/* FOOTER */

#footer{
	width: 100%; 
	height: 10%; 
	display: block;
}

.footer_fixed{
	width: 100%;
	height: 10%;
	position: fixed;
	background: white; 
}

.footer_menu_left{
	border: 1px solid green; 
	width: 23%; 
	height: 100%; 
	float: left;
}

.footer_menu_right{
	border: 1px solid green; 
	width: 23%; 
	height: 100%; 
	float: right;
}
